@import "variables";

/********* Utility Classes ********/
%flex-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

%grid-template {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
}

@mixin icon($color) {
    font-size: 20px;
    color: $color;
}

/************* Reset *************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/************* Styling *************/

body {
    background-color: var(--bg);
    font-family: $font-family;

    // Center content
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

// #container {max-width: 1110px;}

.top {
    background-color: var(--top-bg-pattern);
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 25%;
}

header {
    @extend %flex-between-center;

    font-weight: 700;
    margin-bottom: 32px;

    .toggle {
        display: flex;
        align-items: center;

        input {
            margin-left: 12px;
        }
    }
}

h1, h2, h3, h4 {
    color: var(--headings);
}

p {
    color: var(--text);
}
// Dashboard
article {
    background-color: var(--card-bg);
    padding: 24px 24px;
    border-radius: 8px;

    .daily-change {
        font-size: 12px;
        font-weight: 700;
    }
    
    .up { color: $lime-green; }
    .down { color: $bright-red; }
}

.title {
    display: inline-flex;
    align-items: center;
    font-weight: 700;
    font-size: 14px;

    .fb { @include icon($facebook); }
    .twt { @include icon($twitter);  }
    .yt { @include icon($youtube);  }
    .ig { 
        font-size: 20px;
        background: $instagram;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
}

.summary {
    @extend %grid-template;

    .card {
        text-align: center;
        padding-inline: 36px;

        .title {
            i { margin-right: 4px;}
        }

        h2 {
            font-size: 3rem;
            margin-top: 10px;
        }

        .followers {
            font-size: 12px;
            letter-spacing: 3px;
            margin-bottom: 20px;
        }
    }
}

.overview {
    @extend %grid-template;

    .title, .num {
        @extend %flex-between-center;
    }
}





// Footer
.attribution {
    color: var(--text);
    font-size: 11px;
    text-align: center;
    margin: 12px 0 12px;

    a {
        color: hsl(228, 45%, 44%);
    }
}

/********* Other CSS ********/
@import "toggle";

