// FONTS
@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap');

//  Font styles
$font-size: 14px, 16px, 28px, 32px, 56px, 100px, 150px;
$letter-spacing: 2.35px, 2.7px, 4.75px;

@mixin bellefair($size){
    font-family: 'Bellefair', serif;
    font-size: $size;
}

@mixin barlowcondensed($size, $spacing, $color){
    color: $color;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: $size;
    letter-spacing: $spacing;
}

// COLORS
$color-dark: #0B0D17;
$color-light-indigo: #D0D6F9;
$color-white: #FFFFFF;

// Media queries
@mixin breakpoint($minwidth, $maxwidth) {
    @media screen and (min-width:$minwidth) and (max-width:$maxwidth) {
        @content; // pass content
    }
}

// STYLING
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../assets/home/background-home-desktop.jpg);
    color: $color-white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 2em 0 2em;

    .logo { margin-left: 52px; }

    .toggle {
        // width: 100%;
        // padding: 0 20px;
        // text-align: right;
        color: white;
        display: none;
        margin-right: 24px;
    }

    ul {
        background: rgba(255, 255, 255, 0.04);
        backdrop-filter: blur(81.5485px);
        display: flex;
        justify-content: center;
        list-style: none;
        width: 55%;
        margin: 0;

        li {
            padding: 2em 1em;
            border-bottom: 2px solid transparent;

            a {
                @include barlowcondensed(nth($font-size, 2), nth($letter-spacing, 2), $color-white);
                text-decoration: none;
            }

            &:hover {
                border-bottom: 1px solid #FFFFFF;
            }

        }

        .active-page {
            border-bottom: 2px solid #FFFFFF;
        }
    }
}

.sidenav {
    display: none;
}

@include breakpoint(376px, 768px){ // devices 768px until 376px (width)
    body { background-image: url(../assets/home/background-home-tablet.jpg); }

    nav{
        padding: 0 0 2em;

        ul {
            width: 70%;
        
            li {
                padding-left: 12px;
                padding-left: 12px;

                a { font-size: nth($font-size, 1); }
            }

        }
        
        b { display: none; } // hide numbering
    }
    
}

@include breakpoint(0px, 375px){ // devices 375px and below (width)
    body { background-image: url(../assets/home/background-home-mobile.jpg); }

    nav{
        padding: 1em 0 2em;

        .logo { margin-left: 24px;}
        .toggle { display: block; }

        ul { display: none; }

    }

    .sidenav {
        background: rgba(255, 255, 255, 0.04);
        backdrop-filter: blur(81.5485px);
        display: block;
        padding-top: 60px;
        position: fixed;
        height: 100%;
        width: 0;
        z-index: 1;
        top: 0;
        right: 0;
        overflow-x: hidden;
        transition: 0.5s;
        

        a {
            @include barlowcondensed(nth($font-size, 2), nth($letter-spacing, 2), $color-white);
            display: block;
            text-decoration: none;
            margin: 2em 0 2em 3em;

            &:hover {
                font-weight: bold;
            }
        }

        .active-page-side {
            border-right: 2px solid white;
        }

        .closebtn {
            position: absolute;
            top: 20px;
            right: 20px;
            width: 20px;
            height: 20px;
          }
    }
    
}